@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1em 0.5em;
  /* margin: 30px; */
  width: 500px;
}

img {
  max-width: 100%;
}

/* Main header */
.main-header {
  margin-bottom: 1.5em;
}

/* Progress bar */
.execution-progress {
  margin-bottom: 1em;
}

.execution-progress .alert-message {
  margin-left: 0.5em;
}

/* Execute button */
.actions {
  margin-top: 1em;
}

.action-execute > .spinner-border {
  display: none;
}

/* Settings screen */
#settings-offcanvas .section {
  border: 2px solid grey;
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 1em;
}

.section + .section {
  margin-top: 1em;
}

.section h2 {
  margin-bottom: 1em;
}

/* Textarea highlight */
.textarea-wrapper,
.backdrop,
#student-ids-input {
  width: 460px;
  height: 260px;
}

.highlights,
#student-ids-input {
  padding: 10px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.textarea-wrapper {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  overflow: auto;
  pointer-events: none;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

#student-ids-input {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border-radius: 0;
  color: #444;
  background-color: transparent;
  overflow: auto;
  resize: none;
}

mark {
  padding: 0;
  border-radius: 3px;
  color: transparent;
  background-color: rgb(170, 247, 174);
}
