@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 500px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/* Main content */
.main-content {
  padding: 1em 0.5em;
}

/* Main header */
.main-header {
  margin-bottom: 1.5em;
}

/* Progress bar */
.execution-progress {
  margin-bottom: 1em;
}

.execution-progress .alert-message {
  margin-left: 0.5em;
}

/* Alert message */
.alert-students-not-found {
  display: none;
}

.alert-students-not-found.visible {
  display: block;
}

.alert-students-not-found .alert-message ul {
  margin-bottom: 0;
}

.alert-students-not-found-content {
  margin-bottom: 0;
  border-radius: 0;
}

/* Execute button */
.actions {
  margin-top: 1em;
}

.action-execute > .spinner-border {
  display: none;
}

/* Settings screen */
#settings-offcanvas .section {
  border: 2px solid grey;
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 1em;
}

.section + .section {
  margin-top: 1em;
}

.section .section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#settings-offcanvas .offcanvas-footer {
  padding: 0.5em 1em;
  background-color: #ebebeb;
}

/* Textarea highlight */
.textarea-wrapper,
.backdrop,
#student-ids-input {
  width: 460px;
  height: 200px;
}

.highlights,
#student-ids-input {
  padding: 10px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

#student-ids-input {
  border-top: none;
}

.textarea-wrapper {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  overflow: auto;
  pointer-events: none;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

#student-ids-input {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border-radius: 0;
  color: #444;
  background-color: transparent;
  overflow: auto;
  resize: none;
}

mark {
  padding: 0;
  border-radius: 3px;
  color: transparent;
}

mark.success {
  background-color: rgb(170, 247, 174);
}

mark.failure {
  background-color: rgb(247, 170, 180);
}

/* File drop-zone */
.file-drop-zone {
  padding: 3em 1em;
  background-color: #f3f5f7;
  border: 1px solid #dee2e6;
  border-top: none;
  position: relative;
}

.file-drop-zone > label {
  display: block;
  text-align: center;
}

.file-drop-zone #attendance-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.01;
}

/* footer */
footer {
  background-color: #ebebeb;
  justify-content: flex-end;
  padding: 0.5em 1em;
}

footer .developed-by-label {
  font-weight: 600;
  color: #8f8f8f;
}

footer ul {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  list-style: none inside;
}

footer .author a {
  color: black;
}

footer img {
  filter: grayscale(1);
  width: 16px;
  height: 16px;
}

/* Modal */
.modal-body > * + * {
  margin-top: 1em;
}

.modal-body .form-label {
  font-weight: 700;
}

.modal .spinner-border {
  display: none;
}

.modal .success-file-extraction {
  display: block;
}

.modal .failure-file-extraction {
  display: none;
}
